#menu {
  position: relative;
  left: 50px;
}

.x-axis path,
.x-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.x-axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.lines line {
    stroke: red;
    stroke-width: 2px;
}

.guide {
    stroke: red;
    stroke-width: 1px;
    opacity: 0.5;
}

.labels text {
    font-family: sans-serif;
    font-size: 11px;
}

.form-control.form-num {
  width: 50px;
}
